/* High-level stuff for the webpage */
html, body {
  font-family: -apple-system, 'Helvetica Neue', "Arial", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

/* For the network visualization */
#netviz {
  position: absolute;
  top: 40px;
  right: 10px;
  left: 555px; /* Tied to the `margin-left` item in #menuleftcontent*/
  bottom: 40px;
  background: #FFFFFF;
}
.overlay{
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

/* For the menu on the left */
#menuleftcontent{
  float: left;
  width: 550px;
  margin-top: 200px;
  margin-left: 5px; /* Tied to the `left` item in #netviz*/
  background-color: #fff;
  /* border-style: double; */
}
#div {
  color: #fff;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  padding: 10px;
}
.container {
  background-color:#fff;
  display:flex;
}
.fixed {
  background-color:#fff;
  width: 200px;
}
.flex-item {
  background-color:#fff;
  flex-grow: 1;
}
form {
  width: 400px;
  margin: auto;
  margin-top: 10px;
}

/* Controls what is shown when hovering over a node
 - If removed, all information is shown in the top left corner
*/
#tooltip {
    position: absolute;
    display: none;
    margin-left: 15px;
    padding: 3px;
    position: absolute;
    z-index: 1000;
    text-shadow:
        -1px -1px 0 #FFF,
         1px -1px 0 #FFF,
        -1px  1px 0 #FFF,
         1px  1px 0 #FFF;
    pointer-events: none;
}

/* Bottom right message */
#message{
  position:absolute;
  bottom:5px;
  right:5px;
  text-align: right;
  font-size:small;
  color: rgba(125,125,125,.75);
}

/* Creates the spinning icon on space-bar push */
*,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  #loading {
    display: none;
    position: absolute;
    bottom:5px;
    right:5px;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(125,125,125,.3);
    border-radius: 50%;
    border-top-color: rgba(125,125,125,1.0);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
